<div class="container-fluid mt-5 py-5" *ngIf="isConnected">
  <div  class="loader text-center" *ngIf='loading'>
    <p appLoadingColorChange class="h1">Loading...</p>
  </div>
</div>
<div class="card w-50 w-responsive m-auto" *ngIf="!loading && isConnected">
  <div class="card-body p-5">
    <div class="m-auto text-center">
      <img src="{{details?.avatar_url}}" alt="" height="200px" class='rounded-circle text-center'>
      <a href="https://github.com/lenomosh"><h5 class='pt-5'>{{details?.name}}</h5></a>
      <h5 class='font-italic small'>{{details?.login}}</h5>
      <p>{{details?.bio}}</p>
    </div>
  </div>
  <div class="card-footer row">
    <div class="col-sm-4">
      <p><strong style="font-weight: 600">{{details?.followers}}</strong> Followers</p>
    </div>
    <div class="col-sm-4">
      <p><strong style="font-weight: 600">{{details?.following}}</strong> Following </p></div>
    <div class="col-sm-4">
      <p><strong style="font-weight: 600">{{details?.public_repos}}</strong> Public Repos </p>
    </div>
  </div>
</div>
<div class="m-5  ngIf='isConnected'">
  <div class="row">
    <div class="col-md-6" *ngFor="let repo of repos">
      <div class="card mb-4">
        <div class="card-body m-4">
          <div class="lead">
            <a href="{{repo.html_url}}" target="_blank"> {{repo?.name}}</a>
          </div>
          <div>
            {{repo?.description}}
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6" *ngIf='repo?.language'>
              <div class="btn ">
                <span>{{repo?.language}}</span>
              </div>
            </div>
            <div class="col-md-4">
              <i>{{repo?.updated_at | date |countTimePassed}}</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-5 mt-5 text-center" *ngIf="!isConnected">
  <div class="row py-5 mt-5">
    <div class="col-md-8 text-dark py-5 mt-5">
      <h1>Network Error, please try again later</h1>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
